@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: white;
}

.overlay-open {
    overflow: hidden;
}

.move-in-right {
    animation: move-in 0.4s ease-in-out;
}

.close-drawer {
    animation: close-drawer 0.4s ease-in-out;
}

.close-global-overlay {
    animation: close-global-overlay 0.4s ease-in-out !important;
}

.backdrop-blur-animation {
    backdrop-filter: blur(5px);
    animation: gradual-blur 0.4s ease;
}

.login-open {
    scale: 1;
    transform-origin: top right;
    animation: scale-up 0.3s ease;
}

.login-close {
    scale: 0;
    transform-origin: top right;
    animation: scale-down 0.3s ease;
}

@keyframes scale-up {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

@keyframes scale-down {
    0% {
        scale: 1;
    }
    100% {
        scale: 0;
    }
}

@keyframes gradual-blur {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(5px);
    }
}

@keyframes move-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes close-drawer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes close-global-overlay {
    0% {
        backdrop-filter: blur(5px);
    }
    100% {
        backdrop-filter: blur(0);
        background-color: transparent;
    }
}
